html{
  scroll-behavior: smooth;
}
*{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

@font-face{
  font-family: 'BigJohn';
  src: url('fonts/BigJohnPRO-Regular.woff2') format('woff2'),
  url('fonts/BigJohnPRO-Regular.ttf') format('ttf'),
  url('fonts/BigJohnPRO-Regular.woff') format('woff');
}

body{
  /* background-image: url('../bg.jpg');
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover; */
/* background: #922B2185;
#743e0575 */
  margin-top: 70px;
  background: #743e0566;
}



/* -----------------------------SOFIIA'S PART------------------------------- */



.menuFixed{
  width: 100%;
  height: 70px;
  background: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  z-index: 1;
}
.menu {
  width: 60vw;
  margin: 0 auto;
  overflow: hidden;
}
.list {
  width: 20vw;
  height: 70px;
  float: left;
  text-align: center;
  line-height: 70px;
  list-style: none;
  position: relative;
}
.menuFixed .list:hover {
  background-color: rgba(0,0,0,0.7);
}
.link{
  display: block;
  height: 70px;
  width: 100%;
}

.sc, .contact{
  text-decoration: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}
.sc:visited {
  color: white;
}
.menu p, #emailAdress{
  font-family: 'BigJohn';
}
.divForLogo{
  height: auto;
  text-align: center;
  margin: 100px auto 20px auto;
  padding: 50px;
}
.divForLogo:hover{
  -webkit-transform: scale(.96);
  transform: scale(.96);
}
.aboutF, .aboutS{
  width: 100%;
  height: 50%;
}
.aboutF{

}
.textField{
  float: left;
  width: 55%;
}
.es{
  font-size: 22px;
  color: #6D251D;
}
.textField h1, .textfield h1{
  font-size: 45px;
  margin: 20px 0 0 7%;
  font-family: 'BigJohn';
  color: black;
}
.txt p{
  margin-top: 15px;
  font-size: 20px;
}
.aboutF img{
  float: right;
  width: 38%;
}
.aboutS{

}
.aboutS img{
  float: left;
  width: 33%;
  margin-top: 30px;
}
.textfield{
  float: right;
  width: 55%;
  padding-top: 20px;
}
.cyf{
  font-size: 24px;
  color: #6D251D;
}
.bottomDiv{
  position: relative;
}
.menuBottom{
  width: 100%;
  height: 70px;
  background: rgba(0,0,0,0.5);
}
.menuBottom a:hover {
  background-color: rgba(0,0,0,0.3);
}
.fab{
  color: white;
  font-size: 30px;
}
.contact, .sc{
  display: inline-block;
}
#emailAdress{
  font-size: 18px;
  border-radius: 3px;
  border: none;
  padding: 5px;
  width: 250px;
  /* background: rgba(0, 0, 0, 0); */
}
.buttonCopy{
  cursor: pointer;
  background-color: #339af0;
  color: white;
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 15px;
  display: inline-block;
}
.buttonCopy:hover{
  background-color: #228be6;
}
.buttonCopy:focus{
  outline: 0px;
}
.toolTip{
  display: inline-block;
}
.toolTipText{
  visibility: hidden;
  background-color: #333;
  color: white;
  text-align: center;
  border-radius: 3px;
  padding: 10px 15px;
  position: absolute;
  z-index: 1;
  bottom: 17px;
  right: 40%;
  opacity: 0;
  transition: opacity 0.5s;
  font-size: 14px;
  width: 120px;
}

.toolTipText::after {
  content: "";
  position: absolute;
  top: 35%;
  left: 100%;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent #333;
}

.buttonCopy:hover .toolTipText{
  opacity: 1;
  visibility: visible;
}


/* ------------------------------DANYA'S PART------------------------------- */

  #qna, #aboutFarm{
    width: 85%;
    height: auto;
    background: rgba(255, 255, 255, 0.6);
    margin: 0 auto;
    margin-bottom: 120px;
    box-sizing: border-box;
    padding: 50px 0;
  }
  #scQna, #scAboutFarm{

  }
  .container, .qnaD, .tronFarmLogo{
    width: 800px;
  }
  .container, .qnaD{
    margin: 0 auto;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
  }
  #qna, #aboutFarm{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

/* --------------------^^^COMMON^^^----------------------------- */

.question{
  margin: 30px 0;
  text-align: center;
}
.Qname{
  font-size: 30px;
  color: black;
  margin: 0;
  font-family: 'BigJohn'
}
.answer{
  font-size: 20px;
  margin: 15px 0;
}
.SM{
  color: #873600;
  font-weight: bold;
  text-decoration: none;
}
.SM:hover{
  background: linear-gradient(90deg, #673AB7 10%, #922B21 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
hr{
  /* width: 60%;
  margin-left: 20%;
  border-top: 1px solid black; */
  margin: 0 20%;
  height: 3px;
  border: none;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;

  /* height: 4px;
  border: none;
  background: linear-gradient(45deg, #922B21, #333);
  margin: 0 20%; */
}



/* ---------------------------RESPONSIVE------------------------------- */
/* @media (max-width: 2350px) {
  .toolTipText{
    right: 23vw;
  }
}
@media (max-width: 2100px) {
  .toolTipText{
    right: 22.5vw;
  }
} */

@media (max-width: 1550px) {
  #emailAdress{
    font-size: 16px;
    width: 200px;
  }
}
@media (max-width: 1300px) {
  #emailAdress{
    width: 175px;
  }
}
@media (max-width: 1200px) {
  .menu{
    width: 75vw;
  }
  .list{
    width: 25vw;
  }
  #emailAdress{
    font-size: 16px;
    width: 200px;
  }
}
@media (max-width: 1050px) {
  .menu{
    width: 90vw;
  }
  .list{
    width: 30vw;
  }
  .sc, .contact{
    font-size: 22px;
  }
  .container, .qnaD, .tronFarmLogo{
    width: 500px;
  }
  .textField h1, .textfield h1{
    font-size: 38px;
    margin: 15px 0 0 20%;
  }
  .Qname{
    font-size: 38px;
  }
  .textField, .textfield{
    width: 100%;
  }
  .es{
    font-size: 24px;
  }
  .cyf, .es, .txt p, .answer{
    font-size: 26px;
  }
  .aboutF, .aboutS{
    overflow: hidden;
  }
  .aboutF img, .aboutS img{
    width: 100%;
    margin: 60px 0;
  }
  .aboutF img, .aboutS img, .textField, .textfield {
    clear:both;
  }
  #qna, #aboutFarm{
    margin-bottom: 50px;
  }
  #emailAdress{
    font-size: 18px;
  }
}
@media (max-width: 950px) {
  #emailAdress{
    width: 180px;
  }
}
@media (max-width: 800px) {
  #emailAdress{
  width: 150px;
  }
}
@media (max-width: 700px) {
  .tronFarmLogo, .container, .qnaD{
    width: 350px;
  }
  .textField h1, .textfield h1, .Qname{
    font-size: 34px;
  }
  .textField h1, .textfield h1{
    margin: 15px 0 0 10%;
  }
  .cyf, .es, .txt p, .answer{
    font-size: 24px;
  }
  #emailAdress{
  width: 110px;
  }
}

@media (max-width: 550px) {
  .sc, .contact{
    font-size: 18px;
  }
  .tronFarmLogo, .container, .qnaD{
    width: 250px;
  }
  .divForLogo{
    padding: 50px 0 30px 0;
  }
  .cyf, .es, .txt p, .answer{
    font-size: 22px;
  }
  #emailAdress{
  width: 90px;
  }
}

@media (max-width: 480px) {
  .dnone{
    display: none;
}
