*{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

@font-face{
  font-family: 'Gothic';
  src: url('./src/components/App/fonts/TrueGothicCyr.woff') format('woff'),
  url('./src/components/App/fonts/TrueGothicCyr.ttf') format('ttf'),
  url('./src/components/App/fonts/TrueGothicCyr.eot') format('eot');
}

@font-face{
  font-family: 'Rochester';
  src: url('./src/components/App/fonts/Rochester.woff') format('woff'),
  url('./src/components/App/fonts/Rochester.ttf') format('ttf'),
  url('./src/components/App/fonts/Rochester.eot') format('eot');
}

body{
/* background: #FFF5CE; */
  background-image: url('bg.jpg');
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
}
