*{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

@font-face{
  font-family: 'BigJohn';
  src: url('fonts/BigJohnPRO-Regular.woff2') format('woff2'),
  url('fonts/BigJohnPRO-Regular.ttf') format('ttf'),
  url('fonts/BigJohnPRO-Regular.woff') format('woff');
}

@font-face{
  font-family: 'Rochester';
  src: url('fonts/Rochester.woff') format('woff'),
  url('fonts/Rochester.ttf') format('ttf'),
  url('fonts/Rochester.eot') format('eot');
}

body{
/* background: #FFF5CE; */
  background-image: url('../bg.jpg');
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 2400px) {
  body{
    background-size: auto;
    }
  }
}
.start{
  width: 100%;
  /* height: px; */
  margin: 0;
  background-color: rgba(0,0,0,0.7);
  color: white;
}
.stain{
  width: 600px;
  height: 70px;
  margin: 0 auto;
}
.list{
  width: 200px;
  height: 100%;
  border: 1px solid #922B21;
  float: left;
  box-sizing: border-box;
  padding: 5px 20px;
  border-bottom: none;
  border-top: none;
}
