.qna{
  width: 85%;
  background: rgba(255, 248, 234, 0.6);
  margin: 0 auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.qnaD{
  margin-top: 100px;
}
.question{
  margin-top: 15px;
  margin-left: 17.5%;
  width: 65%;
  text-align: center;
}
.Qname{
  font-size: 30px;
  color: black;
  margin: 0;
}
.answer{
  font-size: 25px;
  margin-top: 15px;
  padding-bottom: 15px;
}
.SM{
  color: #873600;
}
hr{
  width: 60%;
  margin-left: 20%
}
