*{
  color: #2b2b2b;
}
.game{

}
// ------------------------------BG-------------------------------
.fixed-bg{
  background-image: url('animebg.jpg');
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
  opacity: 1;
  z-index: -1;
}
p{
  padding: 0;
  margin: 0;
}
table{
  border-spacing: 0;
  border-collapse: collapse;
}
// ------------------------------First page-------------------------------
.forButton{
  width: 331px;
  margin: 0 auto 130px auto;
}
.forButton2{
  width: 271px;
  margin: 0 auto 70px auto;
}
.play{
  padding: 15px 100px;
  background: #922B21;
  color: white;
  font-size: 65px;
  border-radius: 100px;
  // border: 3px solid white;
  -webkit-transition: background-color 2s, color 0.4s;
  transition: background-color 1s, color 0.4s, transform 0.8s;
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
}
.play2{
  padding: 10px 80px;
  font-size: 55px;
}
.play, .play2{
  -webkit-transition-property: transform;
  transition-property: transform;
}
.play:hover{
  // background-color: #F4D03F;
  // color: black;
  cursor: pointer;
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
}
// ------------------------------STATS-------------------------------
.aboutGame {
  width: 100%;
  overflow: hidden;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-top: 70px;
}
.abgl{
  width: 20%;
  padding: 10px 0;
  list-style-type: none;
  float: left;
  font-size: 24px;
  text-align: center;
  border: 2px solid #f4cf86;
  box-sizing: border-box;
  font-family: "BigJohn";
  background-color: white;
}
.adm{
  width: 36%;
}
.ads{
  width: 12%;
}
.num{
  font-size: 24px;
  margin-top: 10px;
  color: #922B21;
  border-width: 0;
}
// ------------------------------ACCOUNT, STORE-------------------------------
.account, .store{
  text-align: center;
  font-size: 24px;
  padding: 5px;
  background-color: #f4cf86;
  width: 200px;
  margin: 0 auto;
  border-radius: 5px;
  font-family: "BigJohn";
}
.account{
  margin-top: 50px;
}
.buLa, .buLa2, .buLa3, .buLa4{
  margin-top: 13px;
  float: left;
}
.buLa3, .buLa4 {
  margin-left: 10px;
}
.valCoins1, .valCoins2, .TRX{
  float: left;
  margin-left: 3px;
}
.valCoins1, .valCoins2{
  margin-top: 14px;
}
.TRX{
  margin-top: 24px;
}
.dop{
  font-size: 5px;
  text-align: center;
  height: auto;
}
.yourInf{
  overflow: hidden;
  animation-delay: 0.65s;
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  margin-left: calc(calc(100% - 994px)/2);
}
// .flex{
//   display: flex;
//   align-items: center;
// }
// ------------------------------WITHDRAW-------------------------------
.pickUp{
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #922B21;
  color: white;
  font-size: 22px;
  float: right;
  margin: 35px 15px;
  transition: background-color 1s, color 0.4s;
}
.pickUp:hover{
  background-color: #F4D03F;
  color: black;
  cursor: pointer;
}
.pickUp, .improveFood{
  border: 2px solid #4e0c05;
}
// ------------------------------STORE-------------------------------
.allani{
  height: auto;
  overflow: hidden;
  margin-left: calc(calc(100% - 1362px)/2);
  margin-right: calc(calc(100% - 1362px)/2);
  clear: both;
}
.toInvest{
  width: 40%;
  height: 300px;
  float: left;
}
.animalsp{
  margin-top: 35px;
  width: 100%;
  height: 550px;
}
.f{
  margin-top: 0;
}
.animal {
  height: 460px;
  width: 300px;
  margin: 70px 70px;
  background-color: white;
  float: left;
  // border: 2px solid #ffffff;
  border: 6px solid #5f98c9;
  text-align: center;
}
// ------------------------------MY MONEY-------------------------------------
.infbo{
  border-color: #b99d69;
  font-size: 22px;
  padding: 30px;
  box-sizing: border-box;
  width: 412px;
  height: 472px;
}
.top{
  overflow: hidden;
}
.p{
  float: left;
  clear: both;
}
.p, .value{
  margin: 6px 0;
}
.p:first-child, .f{
  margin-top: 0;
}
.ym{
  height: 22px;
  top: 3px;
  position: relative;
}
.value{
  float: right;
}
.infbo hr, .animal hr{
  clear: both;
  border: none;
  border-bottom: 1px dashed #ccc;
}
.myMoney .name{
  clear: both;
  font-size: 30px;
  margin: 5px 0;
  width: 100%;
}
.myMoneyImg img{
  width: 150px;
  margin: 0 auto;
}
.time{
  padding-top: 10px;
}
// ----------------------------------------------------------------------------
.horse{
  margin-bottom: 140px;
}
.tw .wa{
  padding-left: 10px;
}
.invest{
  float: left;
}
.invest .about{
  margin-top: 15px;
}
.coin{
  position: relative;
  top: 4px;
}
.name {
  font-size: 30px;
  text-align: center;
  height: 50px;
  color: #922B21;
  line-height: 50px;
}
.allani .name{
  margin: 10px 30px 0;
}
.Name{
  color: #922B21;
  float: left;
}
.payback{
  color: #922B21;
  float: right;
}
.small{
  font-size: 16px;
}
.forImage{
  clear: both;
}
.image{
  height: 200px;
}
.about{
  height: auto;
  overflow: hidden;
  width: 100%;
  font-size: 22px;
  text-align: center;
  padding: 5px 30px;
  box-sizing: border-box;
}
.mt15 {
  font-size: 26px;
}
// ------------------------------BUY BUTTON-------------------------------
.buy{
  background-color: white;
  height: 40px;
  width: 90px;
  margin: 10px 5px;
  border: 3px solid #b99d69;
  border-radius: 5px;
  font-size: 18px;
}
.buy:hover{
  color: #b99d69;
  font-weight: bold;
  cursor: pointer;
}
// -------------------------------------------------------------
.wa{
  width: 80px;
  height: 30px;
  padding-left: 20px;
  box-sizing: border-box;
}
.wa:focus{
  outline: none;
}
.chick .wa,
.pig .wa,
.sheep .wa,
.cow .wa,
.horse .wa{
  margin-left: 10px;
}
// ------------------------------IMPROVE BUTTON-------------------------------
.improveFood {
  border-radius: 5px;
  background-color: #922B21;
  color: white;
  font-size: 22px;
  margin-top: 25px;
  transition: background-color 1s, color 0.4s;
}
.improveFood:hover{
  background-color: #F4D03F;
  color: black;
  cursor: pointer;
}
.button1{
  padding: 15px 30px;
}
.button2{
  margin: 35px 25px 35px 25px;
  padding: 5px 30px;
  float: left
}
// ------------------------------------------------------------
.ifi {
  margin-top: 30px;
  float: left;
  width: 300px;
  height: 50px;
  font-size: 28px;
  text-align: center;
  padding: 0;
  background: none;
  box-sizing: border-box;
}
.ifi, .mt15{
  border: 3px solid #5f98c9;
  border-left: none;
  border-right: none;
}
.pers{
  float: left;
  margin-left: 160px;
  margin-top: -42px;
  font-size: 28px;
}
.description{
  font-size: 22px;
  margin: 25px 10px 30px 10px;
  float: left;
}


// ----------------------ADAPTIVE + RESPONSIVE DESIGN--------------------------

@media (max-width: 1378px) {
  .abgl{
    width: 30%;
    font-size: 26px;
  }
  .adm{
    width: 100%;
  }
  .adb{
    width: 30%;
  }
  .ads{
    width: 20%;
  }
  .allani{
    margin-right: 0;
    margin-left: calc(calc(100% - 1332px)/2)
  }
  .animal{
    width: 350px;
    float: left;
  }
  .allani .animal{
    margin: 70px -100px 70px 230px;
  }
  .animalsp{
    margin: 0;
    overflow: hidden;
    height: auto;
  }
  .food, .horse{
    margin: 70px calc(calc(100% - 354px)/2);
  }
  .ifi{
    width: 350px;
  }
  .pers{
    margin-left: 185px;
  }
  .infbo{

  }
  .invest{
    width: auto;
  }
  .invest .about{
    padding: 5px 15px;
  }
  .button2{
    margin: 25px 40px 40px 45px;
  }
  .pickUp{
    margin: 33px 28px;
  }
  .buLa3, .buLa4{
    margin-left: 35px;
  }
}

@media (max-width: 1006px) {
  .yourInf{
    margin-left: calc(calc(100% - 1010px)/2);
  }
}

@media (max-width: 1050px) {
  .forButton{
    margin: 80px auto;
  }
}

@media (max-width: 990px) {
  .aboutGame {
    margin-top: 90px;
  }
  .num, .myMoney, .top, .description, .about, .improveFood, .pickUp{
    font-size: 26px;
  }
  .animals, .ym{
    height: 26px;
  }
  .account, .store{
    padding: 20px;
    font-size: 24px;
  }
  .allani, .yourInf{
    height: auto;
    overflow: hidden;
    width: 663px;
    margin: 0 auto;
  }
  .yourInf{
    width: 662px;
  }
  .allani .animal, .yourInf .animal{
    margin: 70px 0;
    height: 480px;
  }
  .allani .horse{
    margin-bottom: 150px;
  }
  .infbo{

  }
  .yourInf{
    overflow: hidden;
    height: auto;
  }
  .animal, .food {
    width: 650px;
  }
  .allani .name{
    margin-left: 50px;
    margin-right: 50px;
  }
  .infbo{
    width: 662px;
  }
  .horse{
    margin-bottom: 120px;
  }
  .name{
    margin: 0;
  }
  .about{
    padding: 5px 50px;
    width: 100%;
  }
  .button2{
    margin: 25px 0 40px 55px;
    padding: 10px 40px;
  }
  .button1{
    margin: 30px 0;
  }
  .buy{
    height: 50px;
    width: 150px;
    font-size: 24px;
  }
  .wa{
    width: 120px;
    height: 40px;
    font-size: 24px;
    border: 3px solid #ccc;
  }
  .buLa, .buLa2, .buLa3, .buLa4 {
    margin-top: 30px;
    margin-left: 40px;
  }
  .buLa3, .buLa4{
    margin-left: 120px;
  }
  .valCoins1, .valCoins2{
    margin-top: 35px;
  }
  .TRX{
    margin-top: 40px;
  }
  .invest .about {
    padding: 5px 15px;
  }
  .mt15{
    font-size: 26px;
  }
  .pickUp{
    margin: -18px 110px 0 0;
    clear: both;
    padding: 15px 40px;
  }
  .top{
    background-color: white;
    color: #922B21;
  }
  .ifi{
    width: 650px;
    font-size: 28px;
    height: 50px;
    margin-top: 0;
  }
  .pers{
    margin-left: 330px;
    margin-top: -42px;
    font-size: 28px;
  }
  .description{
    margin: 70px auto 30px;
    text-align: center;
    float: none;
    width: 75%;
  }
  .cost2, .food .youHave{
    margin-top: 15px;
    margin-left: 50px;
  }
  .abgl{
    font-size: 26px;
  }
  .num{
    font-size: 22px;
  }
}

@media (max-width: 850px) {
  .animal, .food, .ifi  {
    width: 550px;
  }
  .infbo{
    width: 562px;
  }
  .allani, .yourInf{
    width: 562px;
  }
  .animal{
    margin-left: 38%;
  }
  .buLa, .buLa2, .buLa3, .buLa4 {
    margin-left: 20px;
  }
  .buLa3, .buLa4{
    margin-left: 50px;
  }
  .button2{
    margin: 25px 0 40px 45px;
  }
  .pickUp{
    margin-right: 70px;
  }
  .play{
    padding: 15px 90px;
    font-size: 60px;
  }
  .play2{
    padding: 10px 80px;
    font-size: 55px;
  }
  .forButton{
    width: 301px;
  }
  .pers{
    margin-left: 280px;
  }
}

@media (max-width: 730px) {
  .description, .top, .myMoney, .about, .improveFood, .pickUp{
    font-size: 22px;
  }
  .animals, .ym{
    height: 22px;
  }
  .num{
    font-size: 18px;
  }
  .animal{
    margin-left: 51%;
  }
  .animal, .food {
    width: 350px;
  }
  .allani .animal, .yourInf .animal {
    height: 460px;
  }
  .infbo{
    width: 362px;
  }
  .allani, .yourInf{
    width: 362px;
  }
  .buy{
    height: 40px;
    width: 90px;
    margin: 10px 5px;
  }
  .wa{
    width: 60px;
    height: 30px;
    padding-left: 20px;
  }
  .wa, .buy{
    font-size: 18px;
  }
  .about, .ifi {
    width: 350px;
  }
  .ifi{
    height: 50px;
    font-size: 28px;
  }
  .valCoins1, .valCoins2{
    margin-top: 12px;
  }
  .buLa, .buLa2, .buLa3, .buLa4 {
    margin-top: 11px;
    margin-left: 15px;
    width: 80px;
  }
  .buLa3, .buLa4{
    margin-left: 30px;
  }
  .TRX{
    margin-top: 22px;
  }
  .pickUp{
    padding: 10px 20px;
    margin: 20px 25px;
    clear: none;
  }
  .button2{
    margin: 30px 15px 35px 35px;
  }
  .pers{
    margin-left: 195px;
  }
}


@media (max-width: 550px) {
  .animal, .horse, .Infbo {
    margin-left: 53%;
  }
  .forButton2{
    margin-bottom: 60px;
  }
}

@media (max-width: 480px) {
  .num{
    font-size: 16px;
  }
  .animal, .invest .about {
    width: 300px;
  }
  .infbo{
    width: 312px;
  }
  .allani, .yourInf{
    width: 312px;
  }
  .infbo, .top, .myMoney, .about, .ifi, .button1, .button2, .pickUp, .description, .abgl {
    font-size: 20px;
  }
  .animals, .ym{
    height: 20px;
  }
  .name{
    font-size: 28px;
  }
  .animal{
    margin-left: 58%;
  }
  .button2{
    margin: 30px 20px 40px 25px;
    padding: 5px 30px;
  }
  .pickUp{
    margin: 30px 20px 0 0;
    padding: 5px 15px;
  }
  .buLa3, .buLa4{
    margin-left: 15px;
    margin-top: 15px;
  }
  .pers{
    font-size: 24px;
    margin-top: -40px;
  }
  .coin{
    position: relative;
    top: 5px;
  }
  .play{
    padding: 15px 70px;
    font-size: 45px;
  }
  .forButton{
    width: 232px;
  }
  .play2{
    padding: 10px 70px;
    font-size: 40px;
  }
  .forButton2{
    width: 222px;
  }
}

@media (max-width: 435px) {
  .animal{
    margin-left: 60%;
  }
  .forQA{
    height: 70px;
    width: 100%;
  }
}

//////////////////////////////////////////////////////////////////////////
.dnone{
  display: none;
}
#dop{
  height: 100%;
  width: 100%;
}
.sc{
  display: block;
  width: 100%;
  height: 70px;
}
