.game{
  // background-image: url('bg.jpg');
  // position: fixed;
  // height: 100%;
  // width: 100%;
  // top: 0;
  // left: 0;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center center;
  // opacity: 1;
}
.fixed-bg{
  background-image: url('fixed-bg.jpg');
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
  opacity: 1;
  z-index: -1;
}
p{
  padding: 0;
  margin: 0;
}
table{
  border-spacing: 0;
  border-collapse: collapse;
}
.forButton{
  width: 331px;
  margin: 0 auto 130px auto;
}
.forButton2{
  width: 271px;
  margin: 0 auto 70px auto;
}
.play{
  padding: 15px 100px;
  background: #922B21;
  color: white;
  font-size: 65px;
  border-radius: 100px;
  // border: 3px solid white;
  -webkit-transition: background-color 2s, color 0.4s;
  transition: background-color 1s, color 0.4s, transform 0.8s;
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
}
.play2{
  padding: 10px 80px;
  font-size: 55px;
}
.play, .play2{
  -webkit-transition-property: transform;
  transition-property: transform;
}
.play:hover{
  // background-color: #F4D03F;
  // color: black;
  cursor: pointer;
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
}
.aboutGame {
  width: 100%;
  overflow: hidden;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-top: 70px;
}
.abgl{
  width: 20%;
  padding: 10px 0;
  list-style-type: none;
  float: left;
  font-size: 24px;
  text-align: center;
  border: 1px solid #eee;
  box-sizing: border-box;
  font-family: "BigJohn";
  background-color: white;
}
.num{
  margin-top: 10px;
  color: #922B21;
  border-width: 0;
}
.account, .store{
  text-align: center;
  font-size: 24px;
  padding: 5px;
  // background-color: white;
  background-color: #fece00;
  color: black;
  width: 200px;
  margin: 0 0 15px 557px;
  // border: 2px solid #eee;
  border-radius: 5px;
  font-family: "BigJohn";
}
.buLa, .buLa2, .buLa3, .buLa4{
  margin-top: 13px;
  float: left;
}
.buLa3, .buLa4 {
  margin-left: 10px;
}
.valCoins1, .valCoins2, .TRX{
  float: left;
  margin-left: 3px;
}
.valCoins1, .valCoins2{
  margin-top: 17px;
}
.TRX{
  margin-top: 24px;
}
.pickUp{
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #922B21;
  color: white;
  font-size: 22px;
  float: right;
  margin: 35px 15px;
  transition: background-color 1s, color 0.4s;
}
.pickUp:hover{
  background-color: #F4D03F;
  color: black;
  cursor: pointer;
}
.pickUp, .improveFood{
  border: 2px solid #aaa;
}
.Infbo{
  margin-left: 70px;
  margin-top: 140px;
  float: left;
  border: 4px solid #922B21;
}
.yitd{
  width: 245px;
  border: 2px solid #922B21;
  height: 200px;
}
.top{
  height: 100px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  line-height: 100px;
  font-size: 22px;
}
.bottom{
  height: 100px;
  width: 100%;
  background-color: linen;
  border: none;
  font-size: 22px;
  text-align: center;
}
.dop{
  font-size: 5px;
  text-align: center;
  height: auto;
}
.yourInf{
  margin-left: calc(calc(100% - 1362px)/2);
  margin-top: 50px;
  height: auto;
  animation-delay: 0.65s;
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
}
.allani{
  height: auto;
  overflow: hidden;
  margin-left: calc(calc(100% - 1362px)/2);
  margin-right: calc(calc(100% - 1362px)/2);
  clear: both;
}
.toInvest{
  width: 40%;
  height: 300px;
  float: left;
}
.animalsp{
  margin-top: 35px;
  width: 100%;
  height: 550px;
}
.f{
  margin-top: 0;
}
.animal {
  height: 460px;
  width: 300px;
  margin: 70px 70px;
  background-color: rgba(255, 255, 255, 0.7);
  float: left;
  // border: 2px solid #ffffff;
  border: 6px solid #ffffff;
  text-align: center;
}
.horse{
  margin-bottom: 140px;
}
.tw{
  margin: 35px 70px 45px 70px;
}
.chick .image {
  margin: 5px 50px 0 50px;
}
.invest{
  float: left;
}
.invest .about{
  margin-top: 15px;
}
.coin{
  position: relative;
  top: 4px;
}
.name {
  width: 100%;
  font-size: 34px;
  text-align: center;
  height: 50px;
  // color: #814B00;
  color: #922B21;
  line-height: 50px;
  margin: 5px 0;
}
.image{
  height: 200px;
}
.about{
  height: auto;
  overflow: hidden;
  width: 100%;
  font-size: 22px;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
}
.mt15 {
  font-size: 26px;
  border: 2px solid #919191;
}
.youHave, .profit, .cost, .cost2 {
  float: left;
  margin: 1px 0 0 15px;
  clear: both;
  border-bottom: 1px solid #888;
  height: 38px;
  line-height: 38px;
}
.thisAnumber{
  width: 50px;
  height: 25px;
}
.cost div, .cost2 div, .profitI, .costI, .costI2, .profitp{
  display: inline-block;
}
.cost2 div, .youHave{
  font-size: 22px;
}
.cost2{
  margin-top: 15px;
}
.profit{
  font-size: 22px;
}
.profitI, .costI, .costI2, .thisAnumber{
  padding-left: 10px;
  background: none;
  border: none;
  font-size: 22px;
}
.profitI{
  width: 50px;
}
.costI, .costI2{
  width: 75px;
}
.coinfp2, .coinfp1{
  position: relative;
  top: 7px;
  margin-right: 5px;
}
.coinfa, .coinfa2, .ym{
  position: relative;
  top: 5px;
}
.buy{
  background-color: white;
  height: 40px;
  width: 90px;
  margin: 10px 5px;
  border: 2px solid #922B21;
  border-radius: 5px;
}
.buy:hover{
  color: #922B21;
  font-weight: bold;
  cursor: pointer;
}
.wa::-webkit-outer-spin-button,
.wa::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.wa{
  -moz-appearance: textfield;
}
.wa{
width: 60px;
height: 30px;
padding-left: 20px;
}
.improveFood {
  border-radius: 5px;
  background-color: #922B21;
  color: white;
  font-size: 22px;
  margin-top: 25px;
  transition: background-color 1s, color 0.4s;
}
.improveFood:hover{
  background-color: #F4D03F;
  color: black;
  cursor: pointer;
}
.button1{
  padding: 15px 30px;
}
.button2{
  margin: 35px 25px 35px 25px;
  padding: 5px 30px;
  float: left
}
.ifi {
  margin-top: 30px;
  float: left;
  width: 300px;
  height: 50px;
  font-size: 28px;
  border: 2px solid #919191;
  text-align: center;
  padding: 0;
  background: none;
  box-sizing: border-box;
}
.pers{
  float: left;
  margin-left: 160px;
  margin-top: -42px;
  font-size: 28px;
}
.description{
  font-size: 22px;
  margin: 25px 10px 0 10px;
  float: left;
}
.food .thisAnumber{
  width: 50px;
}
.Pers{
  display: inline-block;
}



// ----------------------ADAPTIVE + RESPONSIVE DESIGN--------------------------

@media (max-width: 1348px) {
  .abgl{
    width: 15%;
  }
  .adm{
    width: 24%;
  }
  .adb{
    width: 23%;
  }
  .yourInf{
    margin-top: 75px;
  }
  .allani{
    margin-right: 0;
    margin-left: calc(calc(100% - 1332px)/2)
  }
  .animal{
    width: 350px;
    float: left;
    margin: 70px -100px 70px 230px;
    // border-color: #922B21;
  }
  .animalsp{
    margin: 0;
    overflow: hidden;
    height: auto;
  }
  .food, .horse{
    margin: 70px calc(calc(100% - 354px)/2);
  }
  .ifi{
    width: 350px;
  }
  .pers{
    margin-left: 185px;
  }
  .Infbo{
    margin: 70px 0 85px calc(calc(100% - 743px)/2);
    clear: both;
  }
  // .wa{
  //   border: 1px solid black;
  // }
  .tw{
    margin: 55px 0 70px calc(calc(100% - 354px)/2);
  }
  .invest{
    width: auto;
  }
  .invest .about{
    padding: 5px 15px;
  }
  .account, .store{
    margin: 0 0 15px calc(calc(100% - 214px)/2);
  }
  .button2{
    margin: 25px 40px 40px 45px;
  }
  .pickUp{
    margin: 33px 28px;
  }
  .buLa3, .buLa4{
    margin-left: 35px;
  }
}

@media (max-width: 1198px) {
  .food, .horse{
    margin: 70px 40%;
  }
  .tw{
    margin: 55px 0 70px 41%;
  }
  .account, .store{
    margin-left: 46%;
  }
  .Infbo{
    margin: 35px 0 85px 25%;
  }
  .abgl{
    font-size: 22px;
  }
}

@media (max-width: 1050px) {
  .forButton{
    margin: 80px auto;
  }
}

@media (max-width: 990px) {
  .num, .costI2, .costI, .description, .about, .improveFood, .profit, .profitI, .pickUp, .top, .bottom, .cost2 div, .youHave, .thisAnumber{
    font-size: 26px;
  }
  .wa, .thisAnumber, .costI, .costI2, .profitI, .bottom{
    color: #333;
  }
  .tw{
    margin: 55px 0 70px 36%;
  }
  .account, .store{
    margin-left: 49%;
    padding: 20px;
    font-size: 24px;
  }
  .animal{
    border-color: #ccc;
    background-color: white;
    color: #333;
  }
  .animal, .food{
    margin: 70px 0 15px 36%;
  }
  .animal, .food, .yitd {
    width: 550px;
  }
  .name{
    margin: 0;
  }
  .about{
    padding: 5px 50px;
    width: 550px;
  }
  .youHave, .profit, .cost, .cost2 {
    margin: 1px 0 0 0;
    clear: both;
    border-bottom: 1px solid #ccc;
  }
  .button2{
    margin: 25px 0 40px 45px;
    padding: 10px 40px;
  }
  .button1{
    margin: 30px 0;
  }
  .buy{
    height: 50px;
    width: 150px;
    font-size: 24px;
  }
  .wa{
    width: 60px;
    height: 35px;
    padding-left: 30px;
    font-size: 24px;
    border: 3px solid #ccc;
  }
  .profitI{
    width: 60px;
  }
  .costI, .costI2{
    width: 90px;
  }
  .buLa, .buLa2, .buLa3, .buLa4 {
    margin-top: 30px;
    margin-left: 20px;
  }
  .buLa3, .buLa4{
    margin-left: 85px;
  }
  .valCoins1, .valCoins2{
    margin-top: 35px;
  }
  .TRX{
    margin-top: 40px;
  }
  .invest .about {
    padding: 5px 15px;
  }
  .mt15{
    font-size: 26px;
  }
  .pickUp{
    margin: -18px 80px 0 0;
    clear: both;
    padding: 15px 40px;
  }
  .top{
    background-color: white;
    color: #922B21;
  }
  .yitd, .Infbo{
    border-color: #ccc;
  }
  .ifi{
    width: 550px;
    font-size: 28px;
    height: 50px;
    margin-top: 0;
  }
  .pers{
    margin-left: 305px;
    margin-top: -42px;
    font-size: 28px;
  }
  .description{
    margin: 25px 10px 0 10px;
  }
  .cost2, .food .youHave{
    margin-top: 15px;
    margin-left: 50px;
  }
  .horse{
    margin: 70px 0 120px 36%;
  }
  .allani{
    height: auto;
    overflow: hidden;
  }
  .Infbo{
    margin: 70px 0 85px 36%;
  }
  .yitd{
    clear: both;
    float: left;
  }
  .yourInf{
    overflow: hidden;
    height: auto;
  }
  .abgl{
    width: 30%;
    font-size: 26px;
  }
  .adm{
    width: 40%;
  }
  .adb{
    width: 50%;
  }
}

@media (max-width: 700px) {
  .account, .store {
    margin-left: 55%;
  }
  .animal, .Infbo {
    margin-left: 40%;
  }
  .play{
    padding: 15px 90px;
    font-size: 60px;
  }
  .play2{
    padding: 10px 80px;
    font-size: 55px;
  }
  .forButton{
    width: 301px;
  }
}

@media (max-width: 630px) {
  .description, .about, .improveFood, .profit, .pickUp, .top, .bottom, .cost2 div, .youHave, .thisAnumber{
    font-size: 22px;
  }
  .num{
    font-size: 18px;
  }
  .account {
    margin-left: 58%;
  }
  .animal, .Infbo {
    margin-left: 51%;
  }
  .animal, .food, .yitd {
    width: 350px;
  }
  .buy{
    height: 40px;
    width: 90px;
    margin: 10px 5px;
  }
  .wa{
    width: 60px;
    height: 30px;
    padding-left: 20px;
  }
  .wa, .buy{
    font-size: 14px;
  }
  .about, .ifi {
    width: 350px;
  }
  .ifi{
    height: 50px;
    font-size: 28px;
  }
  .valCoins1, .valCoins2{
    margin-top: 12px;
  }
  .buLa, .buLa2, .buLa3, .buLa4 {
    margin-top: 11px;
    margin-left: 15px;
  }
  .buLa3, .buLa4{
    margin-left: 30px;
  }
  .TRX{
    margin-top: 22px;
  }
  .pickUp{
    padding: 5px 20px;
    margin: 35px 25px;
    clear: none;
  }
  .button2{
    margin: 30px 25px 35px 40px;
    padding: 5px 30px;
  }
  .pers{
    margin-left: 195px;
  }
  .description{
    margin: 25px 10px 0 10px;
  }
}


@media (max-width: 550px) {
  .account, .store {
    margin-left: 60%;
  }
  .animal, .horse, .Infbo {
    margin-left: 53%;
  }
  .forButton2{
    margin-bottom: 60px;
  }
}

@media (max-width: 480px) {
  .num{
    font-size: 16px;
  }
  .animal, .yitd, .invest .about, .ifi {
    width: 300px;
  }
  .top, .profitI, .thisAnumber, .bottom, .about, .ifi, .button1, .button2, .pickUp, .description, .youHave, .cost, .cost2 div, .costI, .costI2, .profit, .abgl {
    font-size: 20px;
  }
  .name{
    font-size: 28px;
  }
  .account, .store {
    margin-left: 63%;
  }
  .animal, .Infbo {
    margin-left: 58%;
  }
  .animal{
    height: 428px;
  }
  .button2{
    margin: 30px 20px 40px 25px;
  }
  .pickUp{
    margin: 35px 15px 0 0;
  }
  .buLa3, .buLa4{
    margin-left: 15px;
    margin-top: 15px;
  }
  .pers{
    font-size: 24px;
    margin-top: -40px;
  }
  .yitd{
    height: 140px;
  }
  .top, .bottom{
    height: 70px;
    line-height: 70px;
  }
  .coin{
    position: relative;
    top: 5px;
  }
  .play{
    padding: 15px 70px;
    font-size: 45px;
  }
  .forButton{
    width: 232px;
  }
  .play2{
    padding: 10px 70px;
    font-size: 40px;
  }
  .forButton2{
    width: 222px;
  }
}

@media (max-width: 435px) {
  .account, .store {
    margin-left: 65%;
  }
  .animal, .Infbo {
    margin-left: 60%;
  }
  .forQA{
    height: 70px;
    width: 100%;
  }
}

//////////////////////////////////////////////////////////////////////////
.dnone{
  display: none;
}
#dop{
  height: 100%;
  width: 100%;
}
.sc{
  display: block;
  width: 100%;
  height: 70px;
}
