.tronLink {
    overflow: hidden;
    width: 800px;
    background: rgba(0,0,0,0.5);
    margin: 40px auto;
    border-radius: 20px;
    transition: background 3s;
  }
    h1 {
        font-size: 50px;
        color: rgba(255,255,255,0.7);
        margin: 10px auto;
        margin-top: 20px;
        margin-left: calc(1em + 10px);
    }
    .unin{
      margin-left: 35px;
    }
    .a{
      color: #EDBB99;
    }
    .text {
        padding: 0;
        margin: 0;
    }
    .warning{
      color: white;
      margin-top: 30px;
      width: 100%;
      font-size: 30px;
      text-align: center;
    }

    .info {
        margin: 10px;
        width: 497px;
        color: white;
        font-size: 20px;
        text-align: center;
    }

    .logo {
      width: 247px;
      height: 247px;
      margin: 10px;
      margin-top: -78px;
      float: right;
      }

.tronLink:hover {
    transform: translateY(-2px);
    background: rgba(0,0,0,0.7);
}
